/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.bf-click-counter-counter-align {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
	&-wide {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    .bf-click-counter {
      display: block;
    }
  }  
	&-full {
    display: block;
    .bf-click-counter {
      display: block;
      width: 100%;
    }
  }    
}


.bf-click-counter {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  &.is-style-button {
    padding: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    letter-spacing: 0.1em;  
    border-radius: 0.5rem;  
    background-color: --wp-components-color-foreground
  }
  &:hover {
    opacity: 0.8;
  }
}